[build]
  command = "npm run build"
  publish = "dist/public"
  functions = "netlify/functions"

[[functions]]
  name = "api"
  included_files = ["content/**/*", "uploads/**/*"]

[[redirects]]
  from = "/api/images/*"
  to = "/uploads/:splat"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
